{% extends 'base.html.twig' %}

{% form_theme form 'includes/_form_theme.html.twig' %}

{% block title 'New Movie' %}

{% block body %}
    <div class="example-wrapper text-center">
        <h1>New movie</h1>

        {{ include('includes/_form.html.twig') }}
    </div>
{% endblock %}
