<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for year in decades %}
                <li class="nav-item">
                    <a class="nav-link" href="">{{ year }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
